<div class="text-900 font-bold text-2xl mb-4 text-center">Dashboard Room</div>

<div class="card" style="padding-left: 1rem;">
  <p-panel header=""
    class="line-height-12 m-0">
    <!-- INICIO DE INPUTS -->
    <!-- <h5>Tipo de Cuenta</h5> -->
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-12">
      </div>


    </div>
    <!-- BOTON DE EJECUCION -->
    <!-- <div class="col lg:col-12">

      <div class="grid flex justify-content-center">
        <div class="col-4 text-center">
          
          <button
            (click)="verify()"
            pButton
            label="Enviar"
            style="width:auto;"></button>
        </div>
      </div>
    </div> -->
  </p-panel>
  <br>

</div>